<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div>
        <!-- Name Form Control -->
        <div class="form__control">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Input text"
          />
          <span
            id="nameErrorMessage"
            class="text-danger"
            *ngIf="
              (registrationForm.get('name')?.invalid && formSubmitted) ||
              (registrationForm.get('name')?.invalid &&
                registrationForm.get('name')?.touched)
            "
          >
            Name is required and must be at least 6 characters long.
          </span>
        </div>

        <!-- Email Form Control -->
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            emailValidator
            placeholder="Input text"
          />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="
              (registrationForm.get('email')?.invalid && formSubmitted) ||
              (registrationForm.get('email')?.invalid &&
                registrationForm.get('email')?.touched)
            "
          >
            Email is required and must be valid.
          </span>
        </div>

        <!-- Password Form Control -->
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Input text"
          />
          <span
            id="passwordErrorMessage"
            class="text-danger"
            *ngIf="
              (registrationForm.get('password')?.invalid && formSubmitted) ||
              (registrationForm.get('password')?.invalid &&
                registrationForm.get('password')?.touched)
            "
          >
            Password is required and must be at least 6 characters long.
          </span>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form__action">
        <app-button [text]="'Register'"></app-button>
      </div>

      <!-- Link to Login -->
      <div class="form__text">
        Already have an account?
        <a (click)="navigateToLogin()" class="link">Login</a>
      </div>
    </div>
  </form>
</div>
