<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div>
        <!-- Email Form Control -->
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Input text"
            ngModel
            required
            emailValidator
            #email="ngModel"
          />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="email.invalid && email.touched"
          >
            Email is required and must be valid.
          </span>
        </div>

        <!-- Password Form Control -->
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Input text"
            ngModel
            required
            minlength="6"
            #password="ngModel"
          />
          <span
            id="passwordErrorMessage"
            class="text-danger"
            *ngIf="password.invalid && password.touched"
          >
            Password is required and must be at least 6 characters long.
          </span>
        </div>
      </div>

      <div>
        <!-- Submit Button -->
        <div class="form__action">
          <app-button [text]="'Login'"></app-button>
        </div>

        <!-- Registration Text -->
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>
